Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Werkzeug
PyMySQL
cryptography
email-validator
Flask-Mail
twilio
imap-tools
html2text
python-dotenv 
Flask-CORS 
Flask-SocketIO 
requests 
beautifulsoup4 
google-generativeai 
markdown
openpyxl
WeasyPrint